:root {

    --primary-color: steeblue;
    --light-bg: #eee;
    --dark-text:#333;
    --border-color: rgba(0, 0, 0, 0.2);
    --box-shadow: 0 0 30px gray;
    --max-width: 800px;
    --aside-width: 20rem;
    --nav-padding: 10px;
    --main-padding: 20px; 

}

nav {
    background-color: var(--primary-color);
    padding: var(--nav-padding);
}

nav a {
    color: white;
    padding: 10px;
    display: block;
}

h1 {
    color: var(--primary-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--primary-color);
    padding: 2px;
    box-shadow: var(--box-shadow);
}

main {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--main-padding);
}

p {
    padding: 0;
}

aside {
    width: var(--aside-width);
    margin: 1rem;
    border: 1px solid var(--border-color);
    padding: 1em;
    background-color: var(--light-bg);
    color: var(--dark-text);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}
