nav {
    background-color: #333;
    padding: 10px;
}

nav a   {
    color: white;
    padding: 5px;
    display: block;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

h1  {
    color: #2c3e50;
    }
main img {
    width: 150px;
    height: auto;
    border: 2px solid #ccc;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0 0 0 / 0.3);
}


aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2); 
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto; 
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1cap solid #000;
    text-align: center;
    }